.body{
    position: relative;
    /* background-image: linear-gradient(to bottom, rgb(190, 251, 252), rgb(253, 253, 253)); */
    box-sizing: border-box;
    background-color: var(--home-bg);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}
  
  
